body {
   color: whitesmoke;
   background-color: #191a1a;
}

#cluster-map {
   width: 100%;
   height: 500px;
}

#map {
   width: 100%;
   height: 300px;
}

.btn-primary {
}

.btn-primary:hover {
}

.card {
   background: #343332;
}

.list-group-item {
   color: white;
   background: #343332;
}

.form-control {
   background: #343332;
   color: whitesmoke;
}

.valid-feedback {
   color: #52b788;
}

.img-thumbnail {
   object-fit: cover;
   height: 100px;
}
