<!-- bootstrap footer 
    py = padding vertically, mt = margin top-->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted"> &copy; CAMPEX 2021 </span>
  </div>
</footer>
