<% layout('layouts/boilerplate') %>

<h1><%= campground1.title %></h1>
<h2><%= campground1.location %></h2>

<footer>
  <a href="/campgrounds">all campgrounds</a>
  <a href="/campgrounds/<%= campground1._id %>/edit">edit</a>
  <form action="/campgrounds/<%=campground1._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</footer>
